@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/global.css */
.notched-corner {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  clip-path: polygon(87% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
}
.gradient-background {
  position: absolute;
  top: 150px;
  left: 124px;
  filter: blur(83.55px);
  background: linear-gradient(
    90deg,
    rgb(68, 255, 154) -0.548%,
    rgb(68, 176, 255) 22.864%,
    rgb(139, 68, 255) 48.357%,
    rgb(255, 102, 68) 73.33%,
    rgb(235, 255, 112) 99.343%
  );
}

.gradient-footer {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(79.73px);
  background: linear-gradient(
    90deg,
    rgb(68, 255, 154) -0.548%,
    rgb(68, 176, 255) 22.864%,
    rgb(139, 68, 255) 48.357%,
    rgb(255, 102, 68) 73.33%,
    rgb(235, 255, 112) 99.343%
  );
  opacity: 0.34;
}

@media screen and (max-width: 768px) {
  .gradient-background {
    top: 650px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg); /* Adjust the rotation angle as needed */
  }
}
